.design {
  border-bottom: 1px solid $contentmedium;
  padding: 27px 20px 22px 20px;
  cursor: pointer;

  &__legend {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__titledesign {
    margin-right: 9.5em;
    font-size: 1.125rem;
    font-weight: 600;
    color: $contentdark;
  }
}

.palette {
  margin-top: 22px;
  margin-left: 19px;
  font-size: 0.875rem;
}

.colors {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/*PALETA DE COLORES*/

.square {
  width: 30px;
  height: 25px;
}

.blue1 {
  background: $branddark;

  &__blue2 {
    background: $dirty-blue;
  }

  &__blue3 {
    background: $hospital-green;
  }
}

.red1 {
  background: $dried-blood;

  &__red2 {
    background: $rusty-red;
  }
  &__red3 {
    background: $tomato;
  }
}

.mix1 {
  background: $slate;

  &__mix2 {
    background: $faded-orange;
  }
  &__mix3 {
    background: $light-grey-blue;
  }
}

.mixteam1 {
  background: $team1;

  &__mixteam2 {
    background: $team2;
  }
  &__mixteam3 {
    background: $team3;
  }
}
.mixteampink1 {
  background: #d9d0de;

  &__mixteampink2 {
    background: #bc8da0;
  }
  &__mixteampink3 {
    background: #a04668;
  }
}
