//RELLENA

.filled {
  border-bottom: 1px solid $contentmedium;
  cursor: pointer;




  &__legend {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 20px 25px 20px;
    
  }

  &__title-filled {
    margin-right: 8.5em;
    font-size: 1.125rem;
    font-weight: 600;
    color: $contentdark;
  }
}

.filled-section {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px;
}

.filled-text {
  font-size: 0.875rem;
  color: $branddark;
  margin-top: 10px;
  cursor: pointer;
}

.filled-button {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.hidden-input {
  display:none;
  cursor: pointer;
}

.box-text {
  height: 30px;
  border: solid 1px $brandmedium;
  margin-top: 7px;
  cursor: pointer;
}
.input-orange {
  width: 140px;
  background-color: $brandlight;
  color: $contentwhite;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 6px;
  cursor: pointer;
}
.box-image {
  width: 30px;
  height: 30px;
  border: solid 1px $brandmedium;
  margin-top: 7px;
 background-image: url("../images/profile.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  cursor: pointer;
}
