.preview {
  width: 100%;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include tablet {
    border-radius: 6px;
    justify-content: center;
  }
}
.reset {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #ffffff;
  background-color: transparent;
  color: $contentdark;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 38px;
  cursor: pointer;
  position: relative;
  left: -83px;

  &__can {
    padding-right: 8px;
  }
}
.card {
  width: 240px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);

  &__rectangle {
    width: 5px;
    height: 42px;
    background-color: $dirty-blue;
    position: absolute;
    transform: translateY(21px);

    margin-left: 0;
  }

  &__names {
    max-width: 220px;
    overflow-wrap: break-word;
    font-family: $tertiaryfont;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: $branddark;
    padding: 21px 14px 4px 20px;
    gap: 5px;
  }
  &__profession {
    max-width: 220px;
    overflow-wrap: break-word;
    font-family: $contentdark;
    font-size: 16px;
    color: $contentdark;
    text-transform: capitalize;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  &__container-img {
    width: 240px;
    height: 200px;
    background-image: url("../images/cat2.png");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
  }
  &__icons {
    color: $branddark;
    display: flex;

    &__container-mobile {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: solid 2px $brandmedium;
      border-radius: 50%;
      margin: 10px 10px 10px 20px;
      text-align: center;

      &__mobile {
        text-decoration: none;
        color: $branddark;
        transform: translateY(15%);
      }
    }

    &__container-mail {
      width: 32px;
      height: 32px;
      border: solid 2px $brandmedium;
      border-radius: 50%;
      margin: 10px 10px 10px 0;
      text-align: center;

      &__mail {
        text-decoration: none;
        color: $branddark;
        transform: translateY(15%);
      }
    }
    &__container-linkedin {
      width: 32px;
      height: 32px;
      border: solid 2px $brandmedium;
      border-radius: 50%;
      margin: 10px 10px 10px 0;
      text-align: center;

      &__linkedin {
        color: $branddark;
        transform: translateY(15%);
      }
    }

    &__container-git {
      width: 32px;
      height: 32px;
      border: solid 2px $brandmedium;
      border-radius: 50%;
      margin: 10px 10px 10px 0;
      text-align: center;

      &__github {
        color: $branddark;
        transform: translateY(20%);
      }
    }
  }
}
