.collapsible {
  transform: rotate(0deg);
}

.hidden {
  .subsection {
    display: none !important;
  }
  .collapsible {
    transform: rotate(180deg);
  }
}

.disable {
  background-color: $light-grey-blue !important;
}
