//.hidden {
//  display: none !important;
//}
.collapsible {
   transform: rotate(0deg);
 }

// .design.hidden .subsection {
//   display: none !important;
// }


.hidden {
  .subsection {
    display: none !important;
  }
  .collapsible {
    transform: rotate(180deg);
  }
}