$brandlight: #e17334;
$branddark: #114e4e;
$brandmedium: #a2deaf;
$contentdark: #54585a;
$contentmedium: #d8d8d8;
$contentlight: #f5f5f5;
$contentwhite: #ffffff; /*he añadido esta nueva variable de color*/

/*colors palette*/
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
//team
$team1: #bc8da0;
$team2: #d9d0de;
$team3: #a04668;

/* fonts */
$secondaryfont: "Merriweather", serif;
$tertiaryfont: "Montserrat", sans-serif;
